.subtraction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 232px;
  padding: 20px;

  &__input {
    margin-bottom: 25px;
    max-width: 225px;
  }

  &__button {
    max-width: 280px;
  }
}
