.operation {
  justify-items: center;
  margin-bottom: 20px;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);

  &__text {

  }

}
